- @title= "All Notes"
%p
  - @page_title  = 'All Notes'
- @notes = Note.desc(:created_at).page(params[:page]).per(10)
= paginate @notes
%table.ui-responsive{"data-role" => "table"}
  %thead
    %tr
      %th Title
      %th Description
      %th Created
      %th Updated
      %th Delete
      %th Edit  
  - @notes.each do |note|
    %tbody    
      %tr
        %td= link_to note.title, :controller=>"notes", :action=>"show", :id=>note.id
        %td= note.body.html_safe?
        %td= note.created_at.strftime('%m/%d/%Y')
        %td= note.updated_at.strftime('%m/%d/%Y')
        %td(align='center')
          - next unless login?
          - unless current_ma_user.role.upcase.split(',').include?("A")
            - next unless article.user
            - next unless current_ma_user == note.user
          = link_to image_tag('delete.png', style:'border:none; float:none;'), "#", :onclick=>"if (confirm('Please Confirm')) {location.hash='/notes/destroy/#{note.id}';}"
        %td(align='center')= link_to image_tag('pencil.png', style:'border:none; float:none;'), {controller: "jinda", action: "init", s: 'notes:edit', note_id: note.id}, data: { confirm: "Please Confirm" }

        %td(align='center')= link_to image_tag('delete.png', style:'border:none; float:none;'), "#", :onclick=>"if (confirm('Please Confirm')) {location.hash='/notes/destroy/#{note.id}';}"
